<div class ="footer collapse navbar-collapse navbar-ex1-collapse" style = "background-color:#3F3F3F;">
      <div class = "row"  style="padding-bottom:5px">
      <div class="col-sm-1"> </div>
      <div class="col-sm-9">
      
      </div>
<div class="col-sm-2">
     <a href="https://www.facebook.com/rationpaani" target="_blank"><i class="fa fa-facebook-official fa-lg"></i></a> | <a href="https://twitter.com/rationpaani1" target="_blank" ><i class="fa fa-twitter fa-lg"></i></a> | <a href="https://in.linkedin.com/company/rationpaani" target="_blank" ><i class="fa fa-linkedin fa-lg"></i></a>
    </div>

   <div style="text-align:center;font-size:12px"> RationPaani.in &copy;2015</div>
  </div>
   </div>

